@import "../../css/includes";
body {
    background-color: #F1EEE6 !important;
}

.news {
    .news-headline-box {
        //padding-top: var(--spacing);
        @include max-screen($screen-sm-max) {
            padding-top: 0;
        }
        @include max-screen($screen-sm-max) {
            padding-top: var(--spacing-third);
        }
        h5 {
            color: var(--color-rust);
            font-weight: normal;
            font-size: 1.2rem;
        }
    }
    .zeplin-quote {
        font-size: 3.2rem;
        color: var(--color-rust);
        @include max-screen($screen-xs-max) {
            font-size: 2.8rem;
        }
    }
    .zeplin-quoteName {
        color: var(--color-rust);
        width: 75%;
    }
    .news-share-icons {
        .navicon {
            width: 60px;
            margin-bottom: 10px;
        }
    }
    .news-share-icons-mobile {
        .navicon {
            display: inline-block;
            width: 47px;
            margin-left: 10px;
        }
    }
}

.block-copy {
    padding-top: var(--spacing-sixth);
    padding-bottom: var(--spacing-sixth);
}

.block-standard-image .col-xs-12 {
    @include max-screen ($screen-sm-max) {
        box-sizing: border-box;
        flex-grow: 0;
        flex-shrink: 0;
        padding-right: calc(var(--gutter-width) * .5);
        padding-left: calc(var(--gutter-width) * .5);
        flex-basis: 50%;
        max-width: 50%;
    }
}

.block-authors {
    color: var(--color-rust);
    margin-top: var(--spacing-sixth);
}

.block-news-item {
    display: block;
    margin-bottom: 0;
}

.news-social-bar {
    @include max-screen($screen-sm-max) {
        display: none;
    }
}

.news-social-bottom {
    display: none;
    @include max-screen($screen-sm-max) {
        display: block;
    }
}


/*.news-social-bar .news-share-icons {
   position: fixed;
	z-index: 3;
}*/

.news-author {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    figure {
        width: 66px;
        margin-right: 20px !important;
        @include max-screen($screen-xs-max) {
            width: 48px;
        }
    }
    .image-wrapper>div {
        border-radius: 50%;
    }
    .news-author-vip:after {
        content: '';
        display: inline-block;
        background-image: url('/assets/icons/vip.svg');
        width: 1em;
        margin-left: .8em;
        height: 1em;
        top: .1em;
        position: relative;
        background-size: cover;
        html[lang="ar"] & {
            margin-left: 0;
            margin-right: .8em;
        }
    }
    .image {
        mask-image: url('/assets/icons/author-mask.svg');
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-image: url('/assets/icons/author-mask.svg');
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
    }
    .news-author-text {
        font-size: 0.9em;
    }
}

html[lang=ar] .news-author figure {
    margin-right: 0px !important;
    margin-left: 20px !important;
}

.news-topic {
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    padding: .75em;
}

.story-navicon .navicon {
    width: 60px;
    display: inline-block;
    @include max-screen($screen-xs-max) {
        width: 46px;
    }
}

.story-overline {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.block-newslist {
    margin-top: 32px;
    @include max-screen($screen-xs-max) {
        margin-top: -32px;
    }
}

.news-topic-list {
    @include max-screen($screen-xs-max) {
        text-align: center;
    }
    select {
        background: url("/assets/icons/arrow-select.svg") no-repeat;
        background-size: 17px;
        background-position: calc(100%) center;
        background-repeat: no-repeat;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding: 5px 22px 5px 5px;
        border-radius: 0;
        border: none;
        appearance: none;
        margin-bottom: 20px;
    }
}
.btn-index {
    z-index: 150;
    position: relative;
}
.news-topic-filter {
    background-image: url('/assets/icons/news-trapez.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
    margin-top: 0px;
    @include min-screen($screen-sm-min) {
        position: fixed;
    }
    li {
        a {
            padding: .5em 0;
            display: block;
            text-decoration: none;
            font-size: 2.0rem;
            font-weight: 900;
            text-transform: uppercase;
        }
        &.active a {
            color: var(--color-rust);
        }
    }
}

.page-template-page-news #site-footer,
.single-news #site-footer {
    background-color: #B69E83;
}

.news-item-wrapper {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    max-height: 10000px;
    transition: all 0.5s ease;
    animation-duration: 1s;
}

.transition .news-item-wrapper.hide {
    transform: translate3d(100vw, 0, 0);
    max-height: 0;
    opacity: 0;
    padding-bottom: 0;
    html[lang=ar] & {
        transform: translate3d(-100vw, 0, 0);
    }
}



@keyframes fadeOut {
    0% {
        opacity: 0;
        transform: translate3d(0, 0%, 0);
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    100% {
        max-height: 0;
        opacity: 0;
        transform: translate3d(50vw, 0, 0);
        padding-bottom: 0;
    }
}