@import "../../css/includes";

#blocks {
  display: block !important;
}

.single-nation {
  background-color: #d8d2cc;
  display: block !important;
  .container {
    margin: 0 auto;
    padding: 130px 0 120px;
    position: relative;

    html[lang="ar"] & {

      @media screen and (max-width: 769px) {
        padding: 250px 0 120px;
        margin: 0 1.5rem;
        width: auto;
      }
      @media screen and (max-width: 520px) {
        padding: 160px 0 80px;
      }
    }

    @media screen and (max-width: 1023px) {
      padding: 250px 0 120px;
    }

    @media screen and (max-width: 850px) {
      padding: 250px 20px 120px;
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      padding: 250px 20px 120px;
    }

    @media screen and (max-width: 520px) {
      padding: 160px 20px 80px;
    }
  }
}

.single-nation-letter {
  width: 776px;
  margin: 0 auto;
  position: relative;
  height: 1705px;

  @media screen and (max-width: 850px) {
    width: 100%;
  }

  @media screen and (max-width: 500px) {
    height: 1400px;
  }

  @media screen and (max-width: 450px) {
    height: 1200px;
  }

  @media screen and (max-width: 400px) {
    height: 1100px;
  }

  @media screen and (max-width: 399px) {
    height: 2100px;
  }

  @media screen and (max-width: 375px) {
    height: 1892px;
  }

  @media screen and (max-width: 330px) {
    height: 1600px;
  }

  &__tagline {
    position: relative;
    margin-right: 15px;

    html[lang='ar'] & {
      margin-right: 0;
      margin-left: 15px;
    }
  }

  .single-nation-letter-bg {
    background-image: url("./assets/nation-single-background-new.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: top;
    transform-origin: top;
    position: absolute;

    @media screen and (max-width: 600px) {
      background-image: url("./assets/nation-single-background-tablet-new.svg");
    }

    @media screen and (max-width: 399px) {
      background-image: url("./assets/mobile-background-new.svg");
    }
  }

  .single-nation-letter-container {
    padding: 65px 100px 100px;
    position: relative;

    @media screen and (max-width: 768px) {
      padding: 60px 20px 100px;
    }

    @media screen and (max-width: 399px) {
      padding: 54px 20px 100px;
    }
  }

  &__back-button {
    position: absolute;
    top: 63px;
    left: -97px;
    display: flex;
    width: 5rem;
    z-index: 2;

    @media screen and (max-width: 1023px) {
      left: 24px;
    }

    @media screen and (max-width: 768px) {
      top: -85px;
    }

    @media screen and (max-width: 520px) {
      left: 19px;
      right: auto;
      top: -95px;
    }

    html[lang="ar"] & {
      left: auto;
      right: -97px;

      @media screen and (max-width: 1023px) {
        right: 24px;
      }
  
      @media screen and (max-width: 768px) {
        right: auto;
        left: 24px;
      }

      @media screen and (max-width: 520px) {
        right: 19px;
        left: auto;
      }
    }

    img {
      width: 40px;
      height: 43px !important;

      html[lang="ar"] & {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }

      @media screen and (max-width: 1023px) {
        margin-bottom: 2rem;
      }

      &.hover {
        position: absolute;
        display: none;
      }
    }

    &:hover {
      img {
        display: none;
      }
      img.hover {
      display: block;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;

    @include max-screen($screen-xs) {
      align-items: flex-start;
      margin-bottom: 50px;
    }
  }

  &__emirate-image {
    max-width: 10rem;
    width: 100px;
    height: 100px;

    html[lang="ar"] & {
      margin-right: 0;
    }
  }

  &__emirate-name-holder {
    display: flex;
    position: absolute;
    top: -70px;
    width: max-content;

    html[lang="ar"] & {
      top: -78px;

      @include max-screen($screen-xs) {
        top: -70px;
      }
    }
  }

  &__emirate-name {
    padding: 0.6rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "AkzidGroStd";
    color: #fff;
    text-transform: uppercase;
    background-color: #387973;
    text-align: center;
    height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: .26px;

    html[lang="ar"] & {
      @include max-screen($screen-xs) {
        font-size: 17px;
      }
    }
  }

  &__ruler-name {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-bottom: 5px;
    line-height: 19px;

    @include max-screen($screen-xs) {
      font-size: 12px;
      line-height: 17px;
    }

    html[lang="ar"] & {

      font-size: 17px;
      letter-spacing: -.52px;
      line-height: 22px;
      font-weight: 600;

      @include max-screen($screen-xs) {
        font-size: 16px;
        margin-bottom: 0;
      }
    }

    &.ruler-title {
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0;

      @include max-screen($screen-xs) {
        font-size: 12px;
        line-height: 17px;
      }

      html[lang="ar"] & { 
        font-weight: 500;
      }
    }
  }

  &__headline-text {
    font-size: 4.2rem;
    font-weight: 900;
    line-height: 4.5rem;
    letter-spacing: 0.2px;
    color: #000;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "AkzidGroStd";

    @media screen and (max-width: 769px) {
      font-size: 2.4rem;
      line-height: 2.8rem;
      margin-bottom: 3.5rem;
    }

    html[lang="ar"] & {
      font-size: 47px;

      @include max-screen($screen-xs) {
        font-size: 32px;
        margin-bottom: 33px;
      }
    }
  }

  &__image-holder {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 25px;
    padding-bottom: 50px;

    @include max-screen($screen-xs) {
      display: none;
    }

    html[lang="ar"] & {
      grid-template-columns: repeat(1, minmax(0, 1fr));

      @include max-screen($screen-xs) {
        display: grid;
      }
    }

    img {
      box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.5);
    }

    &.two-image-english {
      display: none;
      @include max-screen($screen-xs) {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding-top: 5rem;
        padding-bottom: 10rem;
        gap: 12px;
      }

      html[lang="ar"] & {
        display: none;
      }
    }

    &.image {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      padding-top: 5rem;
      padding-bottom: 10rem;

      @include max-screen($screen-xs) {
        display: grid;
      }

      img {
        max-height: 80rem;
        margin: 0 auto;
      }
    }
  }

  &__letter-text {
    html[lang="ar"] & {
      @media screen and (max-width: 1023px) {
        padding-bottom: 5rem;
      }

      @include max-screen($screen-xs) {
        padding-bottom: 7rem;
      }
    }

    @include max-screen($screen-xs) {
    }

    p {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.6rem;
      color: #000;

      @media screen and (max-width: 769px) {
        font-size: 1.6rem;
        line-height: 2.2rem;
      }

      html[lang="ar"] & {
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;

        @include max-screen($screen-xs) {
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px 120px;
    max-width: 775px;
    margin: 0 auto;
    position: relative;

    @include max-screen($screen-xs) {
      padding: 0 20px 80px;
    }
  }

  &__footer-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    margin-left: -97px;

    html[lang="ar"] & {
      margin-left: auto;
      margin-right: -97px;

      @media screen and (max-width: 1023px) {
        margin-right: auto;
      }
    }

    img {
      width: 39px;
      height: 43px;
      margin-right: 2.2rem;
      cursor: pointer;

      html[lang="ar"] & {
        transform: rotateY(180deg);
        margin-left: 2.2rem;
        margin-right: 0;
      }

      @include max-screen($screen-xs) {
        margin-bottom: 1rem;
      }
    }

    &.right {
      justify-content: flex-end;
      margin-right: -97px;
      margin-left: auto;
      img {
        margin-left: 2.2rem;
        margin-right: 0;
        transform: rotateY(180deg);

        html[lang="ar"] & {
          transform: rotateY(0deg);
          margin-right: 2.2rem;
          margin-left: 0;
        }

        @include max-screen($screen-xs) {
          display: none;
        }
      }

      .mobile-image {
        display: none;

        @include max-screen($screen-xs) {
          display: block;
          width: 39px;
          height: 43px;
          
        }
      }

      @media screen and (max-width: 1023px) {
        margin-right: auto;
      }

      @include max-screen($screen-xs) {
        flex-direction: column;
        align-items: flex-end;
      }

      html[lang="ar"] & {
        margin-right: auto;
        margin-left: -97px;

        @media screen and (max-width: 1023px) {
          margin-left: auto;
        }
      }
    }

    @media screen and (max-width: 1023px) {
      margin-left: auto;
    }

    @include max-screen($screen-xs) {
      flex-direction: column;
      align-items: flex-start;
    }

    a {
      position: relative;

      img.hover {
        display: none !important;
        position: absolute;
        top: 0;
      }

      &:hover {
        img {
          visibility: hidden !important;
        }
        img.hover {
          visibility: visible !important;
          display: block !important;
        }
      }
    }
  }

  &__footer-block {
    display: flex;
    flex-direction: column;

    &.right {

      @include max-screen($screen-xs) {
        align-items: flex-end;
      }
    }
  }

  &__footer-text {
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #000;

    @include max-screen($screen-xs) {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }

    html[lang="ar"] & {
      font-size: 20px;
    }
  }

  &__footer-title {
    margin-top: 0.7rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: bold;
    color: #000;

    @include max-screen($screen-xs) {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }

    html[lang="ar"] & {
      font-size: 20px;
    }

  }
}

@media (min-width: 521px) {
  html[lang='en'] .single-nation-letter__image-holder {
    direction: rtl;
  }
}
