.jumpingdots {
    background-image: url("/assets/icons/jumpingdots.svg");
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent !important;
	background-size: contain;
	height: 55px;
    width: 100%;
}